*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    height: 100%;
    width: 100%;
    text-align: right;
    font-size: 14px;
    color: #333;
    font-family: 'Times New Roman', Times, serif;
    align-self: center;
    padding-right: 10px;
    font-weight: lighter;
}

a{
    text-decoration: unset;
    color: #333;
    font-weight: bold;
    cursor: pointer;
}

a:hover{
    color: black;
    
}

.header-name{
    display: flex;
}

h4 {
	padding: 0;
	margin: 0;
	line-height: 1.3;
	font-weight: 600;
}

p {
	padding: 0;
	margin: 0;
	line-height: 1.3;
	font-weight: 600;
	color: grey;
	font-size: 0.7rem;
}

body {
	background-color:#eee;
}

.container {
	width: 560px;
	background-color: #fff;
	margin: 0 auto;
}

header,
section {
	position: fixed;
	text-align: center;
	width: 560px;
	background-color: #fff;
}

section {
	top: 40px;
}

.logo {
	width: 110px;
	padding: 10px;
}

main {
	padding: 370px 18px 10px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    cursor: pointer;
}

article {
	display: flex;
	align-items: center;
	padding: 8px 12px;
	border: 2px solid white;
	border-radius: 8px;
	margin: 0 auto;
}

article:hover{
    border: 2px solid #ff9999;
}

.thumb {
	height: 70px;
	border-radius: 4px;
}

.details {
	padding: 8px 22px;
}

@media (min-width:415px) {
	#video{
		width: 560px;
		height: 315px;
	}

	iframe{
		width: 100%;
		height: 100%;
	}
}

@media (max-width: 414px){
	.container{
		width: 410px;
	}

	#video{
		width: 414px;
		height: 260px;
	}

	iframe{
		width: 100%;
		height: 100%;
	}

	header {
		width: 414px;
	}

	main {
		padding: 300px 0px 10px;
	}

	.details {
		padding: 0px 10px 0px 10px;
	}

	h4 {
		font-size: 12px;
	}

	p{
		font-size: 8px;
	}

	article {
		padding: 12px;
	}
}